---
import Layout from "@/layouts/Layout.astro";
import Header from "@/components/header/Header.astro";

import config from "@/config";

import AboutHero from "@/components/about/AboutHero.astro";
import OurMission from "@/components/about/OurMission.astro";
import WhatWeCover from "@/components/about/WhatWeCover.astro";
import EditorialPrinciples from "@/components/about/EditorialPrinciples.astro";
import ByTheNumbers from "@/components/about/ByTheNumbers.astro";
import WhyGrailDaily from "@/components/about/WhyGrailDaily.astro";
import AboutCTA from "@/components/about/AboutCTA.astro";
---

<Layout
  title={`About | ${config.site.title}`}
  description="Learn more about GrailDaily."
>
  <Header />

  <AboutHero />

  <main class="app-layout about-page">
    <OurMission />
    <WhatWeCover />
    <EditorialPrinciples />
    <ByTheNumbers />
    <WhyGrailDaily />
    <AboutCTA />
  </main>
</Layout>
