---
import Layout from "@/layouts/Layout.astro";
import Header from "@/components/header/Header.astro";
import PopularHero from "@/components/popular/PopularHero.astro";
import PopularGrid from "@/components/popular/PopularGrid.astro";
import PopularList from "@/components/popular/PopularList.astro";

import { getCollection } from "astro:content";

const posts = await getCollection("posts", ({ data }) => !data.draft);
---

<Layout>
  <Header />

  <PopularHero />

  <div class="app-layout">
    <PopularGrid posts={posts.slice(1, 5)} />

    <PopularList posts={posts.slice(5, 20)} />
  </div>
</Layout>
