---
import type { CollectionEntry } from "astro:content";
import ArticleCard from "@/components/cards/ArticleCard.astro";

interface Props {
  posts: CollectionEntry<"posts">[];
  title: string;
  limit: number;
}

const { posts, title, limit } = Astro.props;
---

<section id="recent-posts" class="recent-posts">
  <div class="app-layout">
    <div class="section-header">
      <h2 class="title">
        {title}
      </h2>
    </div>

    <div class="grid">
      {
        posts
          .slice(0, limit)
          .map(post => <ArticleCard post={post} variant="horizontal-small" />)
      }
    </div>
  </div>
</section>

<style>
  .recent-posts {
    padding: 20px 0;
  }

  .title {
    font-size: 1.9rem;
    font-weight: 700;
    line-height: 1.2;

    color: var(--foreground);

    margin-bottom: 24px;
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 18px 24px;
  }

  .section-header {
    margin-bottom: 0;
  }

  @media (max-width: 768px) {
    .grid {
      grid-template-columns: 1fr;
    }
  }
</style>
